/* Sidebar toggle button */
.sidebar-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px auto;
    background: white;
}

    .sidebar-toggle:hover {
        background: #1f6f9f;
    }


/* Smooth animation */
.wy-nav-side,
.wy-nav-content-wrap {
    transition: all 0.25s ease;
}


/* Hide sidebar */
body.sidebar-collapsed .wy-nav-side {
    left: -300px;
}


/* Expand content */
body.sidebar-collapsed .wy-nav-content-wrap {
    margin-left: 0;
}

body.sidebar-collapsed .wy-nav-content {
    max-width: none;
}
